body {
  background-color: #4f5255;
  color: #ff00e1;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
}

h1 {
  text-shadow: 1px 1px white;
  font-size: 4rem;
  margin-top: 40px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin:  3%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.bluebtn {
  color: blue;
}

.startbtn {
  background-color: #ff00e1;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #4f5255;
  font-family: 'Press Start 2P', monospace;
  padding: 4px;
}

.startbtn:hover {
  background-color: #4f5255;
  border: 1px solid #ff00e1;
  color: #ff00e1;
}

.btn {
  margin: 8px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 80%;
}

.green {
  background-color: green;
  border-top-left-radius: 80%;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 80%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 80%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-device-width: 900px){
  h1 {
    color: blue;
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .container {
    margin-top: 100px;
    width: 100%;
  }

  .btn {
    height: 350px;
    width: 350px;
  }
}